	header, footer {background-color: #fff;}

	footer p {background-color: #fff;}

	.intro {color: #8F4AAE; font-size: 30px;}

	#title {color: #66DFF6; font-size: 24px;}

	.text {color: #000; font-size: 18px;}

	.h3 {color: black;}

	.images {width: 800px;}

	#logo-img {width: 150px;}
